body {

}

img {
  max-width: 100%;
}

.wrapper {
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 800px) {
  .wrapper {
    padding-left: 20%;
    padding-right: 20%;
  }
}

table {
  width: 100%;
}

td {
  max-width: 30%;
  padding: 10px;
}

td:nth-child(2) {
  font-weight: bold;
  font-style: italic;
}

td:nth-child(3),
td:nth-child(4) {
  white-space: nowrap;
}

td:nth-child(4) input {
  width: 80px;
}

.kolica-wrapper {
  cursor: pointer;
  position: absolute;
  right: 5%;
  width: 40px;
}

.broj-artikala {
  align-items: center;
  background: crimson;
  border-radius: 50%;
  bottom: -4px;
  color: #fff;
  display: flex;
  height: 25px;
  justify-content: center;
  position: absolute;
  right: -4px;
  width: 25px;
}

.bnt-link {
  background: #fff;
  border: 2px solid crimson;
  color: crimson;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  transition: .2s;
}

.bnt-link:hover {
  color: #fff;
  border: 2px solid #fff;
  background: crimson;
}

.ukupno-wrapper {
  border: 1px dashed black;
  bottom: 20px;
  margin: 0;
  padding: 10px;
  position: fixed;
  right: 5%;
}

label {
  display: block;
}
